<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330477020905-ie1vqe43juhpr8tiid6tfhtn44k6s8s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330477020905-ie1vqe43juhpr8tiid6tfhtn44k6s8s2</string>
	<key>API_KEY</key>
	<string>AIzaSyA_KKAxrvRTedY8wf7NkWT5_0wZTfxjsow</string>
	<key>GCM_SENDER_ID</key>
	<string>330477020905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.astaBochum.campusApp</string>
	<key>PROJECT_ID</key>
	<string>campus-app-asta-rub</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-app-asta-rub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330477020905:ios:bbf2276d2c84380d527278</string>
</dict>
</plist>