<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377045725399-t6c7bmm06ckunm98pdlkbtbl8iovn5cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377045725399-t6c7bmm06ckunm98pdlkbtbl8iovn5cp</string>
	<key>API_KEY</key>
	<string>AIzaSyCWaDWUKIkqQdvCDrKu2Jox7eappuPBcsM</string>
	<key>GCM_SENDER_ID</key>
	<string>377045725399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.astaBochum.campusApp</string>
	<key>PROJECT_ID</key>
	<string>campusapp-14f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>campusapp-14f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377045725399:ios:ee9a2c8e815769e387c092</string>
</dict>
</plist>